@import 'base/normalize';
@import 'base/variables';
@import 'base/grid';
@import 'base/button';
@import 'base/typography';
@import 'base/page-header';
@import 'base/advertising';
@import 'base/page-footer';
/*    mini-reset    */

body {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}
