@import "base/normalize";
@import "base/variables";
@import "base/mixin";
@import "base/grid";
@import "base/button";
@import "base/page-header";
@import "base/index";
@import "base/page-footer";
@import "base/blog";
@import "base/form";
@import "base/post";
@import "font-scss/font-awesome";
@import "base/sprite";




/* mini-reset
   ========================================================================== */


* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
body {
	// @include box-sizing;
    font-family: $font-family;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

