/* blog
   ========================================================================== */

@mixin when-happen {
    &__when-happen {
        font-size: .7rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        text-transform: uppercase;
        color: $second-text-gray;
    &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: $blue;
        // background: url() 0 0 no-repeat;
        top: 0;
        left: -17px;
    }
    }
}

@mixin what-happen {
    &__what-happen {
        font-size: .7rem;
        position: absolute;
        right: 15px;
        bottom: 0;
        text-transform: uppercase;
        color: $second-text-gray;
    &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: $blue;
        // background: url() 0 0 no-repeat;
        top: 0;
        left: -17px;
    }
    }
}



.blog {
    .marginalii {
        position: relative;
        width: 80%;
        margin: auto;
        @include pad(20px 0 0);
    }
}

.blog__intro {
    position: relative;
    @include gray-line(84%);
    @include pad(38px 20px 13px);
    @include when-happen;
    @include what-happen;
    &--text {
        text-align: center;
        @include margin(0 0 20px);
    }
    &--text h1 {
        font-size: 1.6rem;
        line-height: 2;
    }
    &--text p {
        line-height: 1.6em;
        @include margin(0 35px 0);
    }
}

.blog-item {
    position: relative;
    @include gray-line(84%);
    @include pad(35px 20px 37px);
    @include when-happen;
    @include what-happen;
    &__text {
        text-align: center;
        @include margin(0 0 20px);
    }
    &__text-normal {
        @include heading(1.2rem, 1.3, 1.1em);
    }
    &__text-small {
        @include heading(1.1rem, 1.5, 1.1em);
    }
    &__text p {
        line-height: 1.45em;
    }
    footer {
        margin-bottom: 30px;
    }
}

.blog-item--pagination {
    @include pad(45px 20px 28px);
    &-item {
        display: inline-block;
        margin-right: 14px;
        &:nth-child(4) {
            margin-right: 0;
        }
    }
    &-item a {
        @include pagination;
    }
}


