.btn {
	text-align: center;
	display: block;
    font-size: 1.15rem;
    font-weight: 700;
    width: 280px;
    line-height: 58px;
    text-transform: uppercase;
    border: none;
}

.blue-btn {
    color: $white;
    background: $blue;
}
