/* form
   ========================================================================== */

@mixin input ($width) {
    font-size: 1.1rem;
    width: $width;
    color: $black;
    border: none;
    border: 4px solid $gray-second;
    outline: 0;
    background-color: $gray-second;
    &:hover {
        border: 4px solid $gray-hover-disabled;
        background: $gray-hover-disabled;
    }
    &:active {
        border: 4px solid $gray-hover-disabled;
        background: transparent;
    }
}

@mixin button($blue) {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: $blue;
    @include pad (17px 39px 17px 39px);
}

@mixin sprite-after ($height, $width, $left, $top) {
    position: absolute;
    content: "";
    top: $height;
    right: $width;
    background: url("../img/spritesheet-last.png") $left $left no-repeat;
    width: 61px;
    height: 60px;
}

// .review__intro 
// -------------------------------------------------------------
.review__intro {
    position: relative;
    text-align: center;
    @include gray-line(320px);
    @include pad(7.3em 3.2em .4em 3.2em);
    & h1 {
        @include head(1.1rem, 1.55, $text-color);
        @include margin(0 0 1.5em);
    }
    & p {
        @include body(1.1rem, 400, 1.36, none, $text-color);
        @include margin(0 0 17px);
    }
}

// review__form
// -------------------------------------------------------------
// .review__introduce   
// ----------------------------------------
// 
.review__introduce {
    position: relative;
    @include gray-line(320px);
    @include pad(1.7em 0 1em 0);
    & input {
        // @include input (297px);
        @include input (280px);
    }
    & h2 {
        @include head(1.1rem, 1.55, $text-color);
        @include margin(0 0 1.5em);
    }
}

.review__fullname {
    @include pad(0 20px);
}

// .review__impression   
// ----------------------------------------
// 
.review__impression {
    position: relative;
    @include gray-line(320px);
    @include pad (18px 0 6px 0);
    & h2 {
        @include head(1.1rem, 1.55, $text-color);
        @include margin(0 0 1.5em);
    }
    &--inside {
        @include pad(0 20px);
    }
    & label {
        @include body(1.1rem, 700, 1.36, none, $text-color);
        text-align: left;
    }
    &--radio {
        position: relative;
        @include margin (36px 0 32px 0px);
        div ~ div {
            margin-top: 48px;
        }
    }
    &__fullname ~ label:nth-child(1) {
        position: relative;
        &:before {
            position: absolute;
            content: "";
        }
    }
    &__fullname ~ label:nth-child(1) {
        position: relative;
        &:before {
            position: absolute;
            content: "";
        }
    }
}

// .review__travel-time   
// ----------------------------------------
// 
.review {
    &__travel-time {
        position: relative;
        @include gray-line(320px);
        @include pad (18px 0 8px 0);
        & h2 {
            @include head(1.1rem, 1.55, $text-color);
            @include margin(0 0 1.3em);
        }
        &--inside {
            @include pad(0 20px);
        }
    }
    &__arrival-date input {
        @include input (280px);
    }
    &__arrival-date {
        display: inline-block;
        @include margin(0 0 14px 0);
    }
    &__duration {
        position: relative;
        margin-bottom: 14px;
        &--digital {
            display: inline-block;
            vertical-align: top;
            width: 61px;
            height: 60px;
            @include margin(0 3px 0 0);
            text-align: center;
            background: $gray-second;
            &:last-child {
                margin-right: 0;
            }
        }
        &--input {
            margin: 0 auto;
            display: inline-block;
            width: 145px;
            height: 60px;
            @include margin(0 3px 0 0);
        }
    }
    &__departure-date input {
        @include input (280px);
    }
    &__departure-date {
        @include margin(0 0 14px 0);
    }
    &__duration input {
        @include input (145px);
    }
    & #review__checkout {
        border: 2px solid $gray-forth;
    }
    &__arrival-date {
        position: relative;
        &:after {
            @include sprite-after(-24px, 118px, -218px, -215px);
        }
    }
    &__duration {
        position: relative;
        &:after {
            @include sprite-after(-24px, 18px, -218px, -215px);
        }
    }
    &__departure-date {
        position: relative;
        &:after {
            @include sprite-after(-24px, 118px, -218px, -215px);
        }
    }
}

// .review__travellers-reckon  
// ----------------------------------------
// 
.review {
    &__travellers-reckon {
        & h2 {
            @include head(1.1rem, 1.55, $text-color);
            @include margin(0 0 1.5em);
        }
        position: relative;
        @include gray-line(320px);
        @include pad (18px 0 11px 0);
        &--inside {
            @include pad(0 20px);
        }
    }
    &__travellers-count {
        position: relative;
        @include clearfix;
    }
    &__traveller-number {
        display: inline-block;
        float: left;
        width: 61px;
        margin-right: 6px;
        text-align: center;
    }
    &__traveller {
        @include clearfix;
        @include margin (29px 0 0 0);
        &__traveller-number {
            display: inline-block;
            float: left;
            width: 61px;
            margin-right: 6px;
            text-align: center;
        }
    }
    &__travellers-count input {
        @include input (145px);
    }
    &__traveller-number {
        width: 61px;
        margin-right: 6px;
        & input {
            @include input (61px);
        }
    }
    &__traveller-fullname {
        display: inline-block;
        float: right;
        width: 212px;
        & input {
            @include input (212px);
        }
    }
    &__travellers-count {
        position: relative;
        margin-bottom: 14px;
        &:after {
            @include sprite-after(-24px, -16px, -218px, -215px);
        }
    }
    &__traveller-surname {
        position: relative;
        margin-bottom: 14px;
        &:after {
            @include sprite-after(-24px, 88px, -218px, -215px);
        }
    }
    &__traveller-name {
        position: relative;
        margin-bottom: 14px;
        &:after {
            @include sprite-after(-24px, 122px, -218px, -215px);
        }
    }
    &__traveller-patronymic {
        margin-bottom: 14px;
    }
    &__fullname-surname {
        position: relative;
        &:after {
            @include sprite-after(-24px, 152px, -218px, -215px);
        }
        margin-bottom: 14px;
    }
    &__fullname-secondname {
        margin-bottom: 14px;
    }
    &__fullname-name {
        position: relative;
        &:after {
            @include sprite-after(-24px, 189px, -218px, -215px);
        }
        margin-bottom: 14px;
    }
}

// .review__place 
// ----------------------------------------
// 
.review {
    &__place {
        position: relative;
        @include gray-line(320px);
        @include pad (18px 0 32px 0);
        & h2 {
            @include head(1.1rem, 1.55, $text-color);
            @include margin(0 0 1.5em);
        }
        &--inside {
            @include pad(0 20px);
        }
    }
    &__place-where {
        margin-top: 31px;
    }
    &__place-where label {
        @include body(1.1rem, 700, 1.36, none, $text-color);
        text-align: left;
    }
    &__place-where + .review__place-where {
        margin-top: 57px;
    }
}

// .review__pop-up 
// -------------------------------------------------------------
// 
.review {
    &__pop-up {
        text-align: center;
        box-shadow: 0 1px 15px rgba(0, 0, 0, .3);
        &--title {
            font-family: $font-family;
            font-size: $font-size-p;
            font-weight: 700;
            line-height: 1.5;
            display: block;
            margin-bottom: 8px;
            text-transform: uppercase;
            color: $text-color;
        }
    }
    &__pop-up--button {
        background: $gray-second;
        @include pad (15px);
    }
}

// .review__photo 
// -------------------------------------------------------------
.review {
    &__photo {
        & h2 {
            @include head(1.1rem, 1.55, $text-color);
            @include margin(0 0 1em);
        }
        @include pad(18px 0 8px 0);
        &--inside {
            @include pad(0 20px);
        }
        & button:nth-of-type(1) {
            @include head(1.1rem, 1.55, $text-color);
            @include button($gray-second);
        }
        & button:nth-of-type(2) {
            @include head(1.1rem, 1.55, $text-color-white);
            @include button($blue);
        }
    }
    &__gallery {
        font-size: 0;
        @include margin(51px 0 12px 0);
    }
    &__gallery--item {
        font-size: 1rem;
        position: relative;
        display: inline-block;
        width: 70px;
        height: 70px;
        @include margin(0 35px 35px 0);
        &:nth-child(3n) {
            margin-right: 0;
        }
        & .sprite.circle {
            position: absolute;
            top: -30px;
            left: 5px;
            width: 60px;
            height: 60px;
            content: "";
        }
    }
    &__gallery--item img {
        width: 70px;
        height: auto;
    }
}

// ---------------------------------------------------------
input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='checkbox'],
textarea,
select {
    @include pad (15px 20px);
}

input ~ label {
    margin-top: 14px;
}

input[type='radio'],
input[type='checkbox'] {
    display: none;
}

input[type='radio'] ~ label {
    text-indent: 50px;
    &:before {
        position: absolute;
        top: 1px;
        left: -2px;
        width: 20px;
        height: 20px;
        content: "";
        vertical-align: middle;
        border-radius: 50%;
        background: $gray-second;
        box-shadow: 0 0 0 15px $gray-second;
    }
}

input[type='radio']:checked ~ label {
    &:before {
        position: absolute;
        top: 1px;
        left: -2px;
        width: 20px;
        height: 20px;
        content: "";
        vertical-align: middle;
        border-radius: 50%;
        background: $text-color;
        box-shadow: 0 0 0 15px $gray-second;
    }
}

input[type='checkbox'] ~ label {
    text-indent: 58px;
    &:before {
        position: absolute;
        z-index: 1;
        top: 5px;
        left: 0;
        width: 10px;
        height: 10px;
        margin-right: 20px;
        content: "";
        vertical-align: middle;
        z-index: 10;
    }
    &:after {
        position: absolute;
        z-index: 1;
        top: -14px;
        left: -19px;
        width: 54px;
        height: 54px;
        margin-right: 20px;
        content: "";
        vertical-align: middle;
        background: $gray-second;
        border-radius: 5px;
    }
}

input[type='checkbox']:checked ~ label {
    &:before {
        top: -2px;
        left: -2px;
        display: inline-block;
        width: 18px;
        height: 23px;
        margin-right: 20px;
        content: "";
        transform: rotate(-135deg);
        vertical-align: middle;
        box-shadow: 5px 5px 0 0 #333333 inset;
        z-index: 10;
    }
}

label {
    font-family: $font-family;
    font-size: $font-size-p;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
    display: block;
    margin-bottom: 8px;
    margin-left: 20px;
    cursor: pointer;
    text-transform: uppercase;
    color: $text-color;
}

// .media
// -------------------------------------------------------------
// 

@media(max-width: 1200px) {

}

@media(max-width: 960px) {
/* Стили для планшета в горизонтальном положении */
}
@media(max-width: 768px) {
/* Стили для планшета в вертикальном положении */
}
@media(max-width: 480px) {
/* Стили для телефона */
}


main {
    // @media screen and (min-width: 320px) {
    //     .page-main__wrapper {
            // max-width: $screen_min;
            // margin: 0 auto;
    //     }
    // }
}
