// /* mixin
//    ========================================================================== */
@mixin pad ($pads...) {
    padding: $pads;
}

@mixin margin ($pads...) {
    margin: $pads;
}

@mixin heading ($font-size-p, $line-height, $margin-bottom) {
    font-size: $font-size-p;
    line-height: $line-height;
    margin-bottom: $margin-bottom;
}

@mixin white-color-blue-bg ($a) {
    color: $a;
    @if lightness($a) >=50% {
        background-color: $blue;
    }
    @if lightness($a)< 50% {
        background-color: $white;
    }
}

// {@include white-color-blue-bg( $text-color )}
// {@include white-color-blue-bg( $white )}
@mixin gray-line {
    &:before {
        position: absolute;
        bottom: 0;
        left: 8%;
        width: 84%;
        height: 2px;
        content: '';
        background: $gray-line;
    }
}

@mixin when-happen {
    &__when-happen {
        font-size: .7rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        text-transform: uppercase;
        color: $second-text-gray;
        &:before {
            position: absolute;
            top: 2.2em;
            left: 3em;
            width: 38px;
            height: 38px;
            content: '';
            background: url('../img/icon-plus.png') 0 0 no-repeat;
        }
    }
}

@mixin what-happen {
    &__what-happen {
        font-size: .7rem;
        position: absolute;
        right: 15px;
        bottom: 0;
        text-transform: uppercase;
        color: $second-text-gray;
        &:before {
            position: absolute;
            top: 2.2em;
            left: 3em;
            width: 38px;
            height: 38px;
            content: '';
            background: url('../img/icon-plus.png') 0 0 no-repeat;
        }
    }
}

@mixin intro {
    position: relative;
    padding-bottom: 30px;
    text-align: center;
    &--text p {
        line-height: 1.6em;
    }
    &--text h1 {
        font-size: 1.63rem;
        margin-bottom: .9em;
    }
}

@mixin pagination {
    font-size: 1.3rem;
    line-height: 57px;
    display: block;
    width: 57px;
    margin-right: 14px;
    margin-bottom: 19px;
    text-align: center;
    color: $text-color-white;
    background: $blue;
    &:last-of-type {
        margin-right: 0;
    }
}

@mixin clearfix {
    .clearfix:before {
        display: table;
        content: ' ';
    }
    .clearfix:after {
        display: table;
        clear: both;
        content: ' ';
    }
    /* IE6/7 support */
    
    .clearfix {
        *zoom: 1;
    }
}

// {@include clearfix}
@mixin container {
    margin: auto;
    @madia (min-width: $screen-md) {
        width: $screen-md;
    }
    @madia (min-width: $screen-md) {
        width: $screen-md;
    }
    @madia (min-width: $screen-lg) {
        width: $screen-lg;
    }
}

// // {@include container}
@mixin linx ($link,
$visit,
$hover,
$active) {
    a {
        color: $link;
        &:visited {
            color: $visit;
        }
        &:hover {
            color: $hover;
        }
        &:active {
            color: $active;
        }
    }
}
