// /* mixin
//    ========================================================================== */
@mixin box-sizing( $type: border-box) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    -o-box-sizing: $type;
    -ms-box-sizing: $type;
    box-sizing: $type;
}

@mixin pad ($pads...) {
    padding: $pads;
}

@mixin margin ($pads...) {
    margin: $pads;
}

@mixin heading ($font-size-p, $line-height, $margin-bottom) {
    font-size: $font-size-p;
    line-height: $line-height;
    margin-bottom: $margin-bottom;
}

@mixin white-color-blue-bg ($a) {
    color: $a;
    @if lightness($a) >=50% {
        background-color: $blue;
    }
    @if lightness($a)< 50% {
        background-color: $white;
    }
}

// {@include white-color-blue-bg( $text-color )}
// {@include white-color-blue-bg( $white )}
@mixin gray-line ($width) {
    &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        content: '';
        background: $gray-line;
    }
}

@mixin intro {
    position: relative;
    padding-bottom: 30px;
    text-align: center;
    &--text p {
        line-height: 1.6em;
    }
    &--text h1 {
        font-size: 1.63rem;
        margin-bottom: .9em;
    }
}

@mixin pagination {
    font-size: 1.3rem;
    line-height: 57px;
    display: block;
    width: 57px;
    margin-right: 14px;
    margin-bottom: 19px;
    text-align: center;
    color: $text-color-white;
    background: $blue;
    &:last-of-type {
        margin-right: 0;
    }
}

@mixin clearfix {
    &:before {
        display: table;
        content: ' ';
    }
    &:after {
        display: table;
        clear: both;
        content: ' ';
    }
    /* IE6/7 support */
    
    & {
        *zoom: 1;
    }
}

// {@include clearfix}
@mixin container {
    margin: auto;
    @madia (min-width: $screen-md) {
        width: $screen-md;
    }
    @madia (min-width: $screen-md) {
        width: $screen-md;
    }
    @madia (min-width: $screen-lg) {
        width: $screen-lg;
    }
}

@mixin digital {
    &--digital {
        float: left;
        width: 61px;
        height: 60px;
        margin-right: 6px;
        text-align: center;
        background: $gray-second;
        &:last-child {
            float: right;
            margin-right: 0;
        }
    }
    &--digital-big {
        float: left;
        width: 50%;
    }
}

@mixin link ($link, $hover, $active) {
    a {
        color: $link;
        &:hover {
            color: $hover;
        }
        &:active {
            color: $active;
        }
    }
}

@mixin gray-btn ($link, $hover, $active) {
    a {
        color: $link;
        &:hover {
            color: $hover;
        }
        &:active {
            color: $active;
        }
    }
}

