/* page-footer
   ========================================================================== */


.page-footer {
    text-align: center;
    &__visitsedona {
        font-size: 1.2rem;
        line-height: 100px;
        display: block;
        vertical-align: middle;
        color: $black;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__made-by {
        font-size: .8rem;
        line-height: 100px;
        position: relative;
        display: inline-block;
        width: 200px;
        margin: auto;
        vertical-align: middle;
        text-transform: uppercase;
        color: $black;
                .sprite.client {
            position: absolute;
            top: 20px;
            right: 18px;
            width: 61px;
            height: 60px;
            content: '';
        }
    }
}

.page-footer__social {
    line-height: 100px;
    a {
        line-height: 42px;
        display: inline-block;
        width: 42px;
        margin-right: 1em;
        vertical-align: middle;
        color: $white;
        background: $blue;
        &:last-child {
            margin-right: 0;
        }
        span {
            display: none;
        }
    }

}


/*media queries*/

/* Desktop ----------- */
@media screen and (max-width: 1600px) {
     .page-footer {
         &__made-by {
             padding-right: 0;
             .sprite.client {
                 right: 5px;
             }
         }
     }    
}

/* Tablet ----------- */
@media screen and (max-width: 1024px) {
     .page-footer {
         &__made-by {
             text-align: right;
               padding-right: 74px;
             .sprite.client {
                 right: 18px;
             }
         }
     }  
}

/* Small ----------- */
@media screen and (max-width : 480px) {
     .page-footer {
         &__made-by {
             text-align: right;
               padding-right: 74px;
             .sprite.client {
                 right: 18px;
             }
         }
     }
}






