/* page-footer
   ========================================================================== */

.page-footer {
    text-align: center;
    pagging-top: 40px;
    &__visitsedona {
        color: $black;
        display: block;
        font-size: 1.6rem;
        line-height: 100px;
        vertical-align: middle;
    }
    &__made-by {
        color: $black;
        display: inline-block;
        margin: auto;
        width: 200px;
        line-height: 100px;
        vertical-align: middle;
        font-size: 0.8rem;
        text-transform: uppercase;
    }
    &__made-by img {
        display: inline-block;
        line-height: 100px;
        vertical-align: middle;
    }
}

.social-links {
    a {
        color: $white;
        background: $blue;
        display: inline-block;
        vertical-align: middle;
        width: 42px;
        line-height: 42px;
        margin-right: 1em;
        &:last-child {
            margin-right: 0;
        }
        span {
            display: none;
        }
    }
    // &__twitter {
    //     display: block;
    //     width: 42px;
    //     height: 42px;
    //     background: $blue;
    // }
    // &__facebook {
    //     display: block;
    //     width: 42px;
    //     height: 42px;
    //     background: $blue;
    // }
    // &__youtube {
    //     display: block;
    //     width: 42px;
    //     height: 42px;
    //     background: $blue;
    // }
}
