/* page-header
   ========================================================================== */

.page-header {
    font-family: $font-family;
    &__banner {
        height: 512px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            background: url("../img/sedona-banner-lettering.png") 0 0 no-repeat;
            width: 320px;
            height: 313px;
            z-index: 50;
        }
        &:before {
            content: "";
            position: absolute;
            background: url("../img/mask.png") 0 0 no-repeat;
            background-size: cover;
            bottom: -1px;
            width: 100%;
            height: 37px;
            z-index: 50;
        }
    }
    &__banner-picture img {
        min-height: 100%;
        width: auto;
    }
    &__lettering {
        position: absolute;
        top: calc((50% - 156px);
        left: calc((50% - 160px);
        z-index: 20;
    }
    &__toggle-down {
        display: block;
        height: 60px;
        background: $white;
    }
}

.page-nav {
    position: relative;
    &__list-item {
        font-size: 1.12rem;
        font-weight: bold;
        text-align: center;
        display: block;
        background: $blue;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 1px solid $blue-dark;
        border-top: 1px solid $blue-light;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        transition: .25s;
    }
    &__logo {
        position: absolute;
        line-height: none;
        left: calc(50% - 69px);
        top: 100%;
        z-index: 30;
    }
}

#nav-toggle {
    position: absolute;
    left: 50%;
    top: 50%;
}

#nav-toggle {
    cursor: pointer;
    // padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}
// 
// 
// .page-header {
//   width: 320px;
//   margin: 0 auto;
//   background: #1d2631;
//   color: white;
//   font-family: Arial;
// }

.page-header a {
  color: white;
  text-decoration: none;
}

.page-header__logo {
  padding: 10px;
}

.page-header__wrap {
  position: relative;
}

.page-header__wrap--open {
  background: #283645;
}

.main-nav {
  position: absolute;
  width: 100%;
  top: 38px;
  background: #283645;
}

.main-nav__list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main-nav__list a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-top: 1px solid black;
  
}

.main-nav__toggle {
  position: absolute;
  top: -25px;
  right: 10px;
}

.main-nav__toggle:before {
  content: "\f0c9";
  font-family: FontAwesome;
}

.main-nav__toggle--close:before {
  content: "\f00d";
  font-family: FontAwesome;
}


.page-header__promo-block {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.page-header__download-btn {
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 20px;
}

.page-header__operation-system-section {
  padding-top: 20px;
}
// 
// 
.page-header {
  width: 320px;
  margin: 0 auto;
  background: #1d2631;
  color: white;
  font-family: Arial;
}

.page-header a {
  color: white;
  text-decoration: none;
}

.page-header__logo {
  padding: 10px;
}

.page-header__wrap {
  position: relative;
}

.page-header__wrap--open {
  background: #283645;
}

.main-nav {
  position: absolute;
  width: 100%;
  top: 38px;
  background: #283645;
}

.main-nav__list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main-nav__list a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-top: 1px solid black;
  
}

.main-nav__toggle {
  position: absolute;
  top: -25px;
  right: 10px;
}

.main-nav__toggle:before {
  content: "\f0c9";
  font-family: FontAwesome;
}

.main-nav__toggle--close:before {
  content: "\f00d";
  font-family: FontAwesome;
}


.page-header__promo-block {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.page-header__download-btn {
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 20px;
}

.page-header__operation-system-section {
  padding-top: 20px;
}
