/* page-header
   ========================================================================== */

.page-nav {
    position: relative;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    background: $blue;
    &__list {
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    &__list a {
        border-top: 1px solid $blue-light;
        border-bottom: 1px solid $blue-dark;
    }
    & a {
        font-size: 1.12rem;
        font-weight: bold;
        line-height: 3;
        display: block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: $white;
        background: $blue;
        &:hover {
            color: $text-color-white;
            background: $blue-hover;
        }
        &:active {
            color: $text-color-white;
            background: $blue-down;
        }
    }
    &__toggle {
        position: absolute;
        top: 0;
        right: 25px;
        &:before {
            font-family: FontAwesome;
            font-size: 1rem;
            content: '\f0c9';
            color: $blue;
        }
        &:after {
            font-family: FontAwesome;
            content: '\f00d';
        }
    }
    &:hover a.page-nav__toggle {
        &:before {
            font-family: FontAwesome;
            content: '\f0c9';
            color: transparent;
        }
    }
    a.page-nav__toggle {
        background: transparent;
    }
}

// -----------------------------------------------------------------------
.page-header {
    &__wrapper {
        width: 320px;
        margin: 0 auto;
    }
    &__banner.index {
        position: relative;
        overflow: hidden;
        height: 390px;
        &:before {
            position: absolute;
            z-index: 50;
            top: 38px;
            width: 320px;
            height: 313px;
            content: '';
            background: url('../img/sedona-banner-lettering.png') 0 0 no-repeat;
        }
        &:after {
            position: absolute;
            z-index: 50;
            bottom: -1px;
            width: 768px;
            height: 37px;
            left: calc((50% - 385px);
            content: '';
            background: url('../img/mask.png') 0 0 no-repeat;
            background-size: cover;
        }
        img {
            max-width: 200%;
            height: auto;
        }
    }
    &__banner.post,
    &__banner.blog,
    &__banner.form {
        position: relative;
        overflow: hidden;
        height: 158px;
        &:before {
            position: absolute;
            z-index: 50;
            top: 42px;
            left: 65px;
            width: 320px;
            height: 313px;
            content: '';
            background: url('../img/sedona-lettering.png') 0 0 no-repeat;
        }
        &:after {
            position: absolute;
            z-index: 50;
            bottom: -1px;
            width: 768px;
            height: 37px;
            left: calc((50% - 385px);
            content: '';
            background: url('../img/mask.png') 0 0 no-repeat;
            background-size: cover;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &__logo {
        position: relative;
        padding: 27px;
        background: $white;
        & a {
            line-height: none;
            position: absolute;
            z-index: 30;
            left: calc(50% - 69px);
            top: 0;
        }
    }
    &__wrapper--open {
        background: $blue;
    }
    &__promo-block {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    &__download-btn {
        display: inline-block;
        padding: 10px 30px;
        border: 2px solid white;
        border-radius: 20px;
    }
    &__operation-system-section {
        padding-top: 20px;
    }
    &__toggle-down {
        display: block;
        height: 60px;
        background: $white;
    }
}
