$white: #ffffff;
$black: #000000;
$gray: #eeeeee;
$brown: #604e43;
$brown-down: #766357;
$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-down: #5496bd;
$blue-dark: #678fa8;
$blue-light: #9ac2db;
$gray-second: #f2f2f2;
$gray-third: #d6d6d6;
$gray-line: #dbdbdb;
$gray-hover-disabled: #e5e5e5;
$gray-down: #d5d5d5;
$headings-color: $black;
$text-color-white: $white;
$text-color: #333333;
$second-text-gray: #999999;
$html-size-baze: 10px;
$font-size-p: 0.9rem;
$line-height: 1em;
$margin-bottom: 1em;
$headings-weight:700;
$font-size--h1: 1rem;
$font-size--h2:;
$font-size--h3:;
$font-size--h4:;
$font-size--h5:;
$font-size--h6:;
$font-family: 'PT Sans',sans-serif;
$font-family--headings:;
$screen-xs: 480px;
$screen-md: 768px;
$screen-lg: 1200px;
$props:;
$animal:;
